/Sample1/.hgignore
/Sample1/Sample1.VC.db
/Sample1/.hg/*
/Sample1/.vs/*
/Sample1/Sample1/Sample1.vcxproj.user
/Sample2/.hgignore
/Sample2/Sample2.VC.db
/Sample2/.hg/*
/Sample2/.vs/*
/Sample2/ipch/*
/Sample2/Sample2/Sample2.vcxproj.user
/Sample2/Sample2/x64/*
/Sample3/.hgignore
/Sample3/Sample3.VC.db
/Sample3/.hg/*
/Sample3/.vs/*
/Sample3/ipch/*
/Sample3/Sample3/Sample3.vcxproj.user
/Sample3/Sample3/x64/*
/Sample4/systemc-2.3.3/msvc10/SystemC/x64/*
/Sample4/systemc-2.3.3/msvc10/SystemC/x64/*
/Sample4/.vs/*
/Sample4/ipch/*
/Sample4/x64/*
/Sample4/.user/*
/Sample4/.db/*